# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

# Excel files
[*.{bas,cls,frm}]
# VBEで日本語を扱うため、cp932 or shift-jisを指定したいが、候補に出ない。
charset = unset
